<div *ngIf="loanding" class="spinner-container" >
		<mat-spinner color="warn" class="spinner" [diameter]="80" 
		[strokeWidth]="3" [color]="dark"></mat-spinner>	
</div>	

<div class="container" *ngIf="!loanding" >
	<div class="row">
		<div class="col-12">
			<h5 class="text-center">Ultimas Noticias Guardadas </h5>
		</div>
	</div>


	<div class="row mt-5">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="list-group mt-3" *ngFor="let notice of saveNoticesList | reverse">
		  <a [href]="notice.url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="row">
					<div class="col-lg-3  col-md-4 ">

						<div *ngIf="notice.urlToImage == null;else other_content">
					    <img class="card-img-top text-center" src="http://www.losprincipios.org/images/default.jpg" alt="">
						</div>

					<ng-template #other_content>
						<img class="img-fluid" [src]="notice.urlToImage" alt="imagen">
					</ng-template>


					</div>
					<div class="col-lg-9  col-md-8">
				    <div class="d-flex w-150 justify-content-between">
				      <h5 class="mb-1 font-weight-bold">{{notice.title}} </h5>
				      <small> {{ notice.publishedAt | date}}</small>
				    </div>
					</div>
				</div>
				<div class="contentent">
			    <p class="mb-1 text-justify">{{notice.description}} </p>
			    <small> {{notice.author}}</small>
				</div>
		  </a>
			<div class="row justify-content-end">
		  	<button class="btn btn-danger mr-3 " (click)="onDeleteNotice(notice.$key);">Eliminar</button>
		  </div>
		  
		</div>
	</div>

	<div class="col-sm-1" >
	</div>
		
	</div>
</div>

