<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="text-center">Noticias guardadas</h1>
		</div>
	</div>
	<div class="row">
	  <div class="col-md-4">
	    <div class="list-group" id="list-tab" role="tablist">
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
	      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
	      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
	    </div>
	  </div>
	  <div class="col-md-8 bg-dark p-4 text-white">
	    <div class="tab-content" id="nav-tabContent">
	      <div class="tab-pane fade  text-justify show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list ">
	      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis sem eros, vitae egestas odio dignissim in. Curabitur eros diam, sagittis non nulla ac, sagittis feugiat sapien. Mauris euismod varius diam, hendrerit lobortis est. Mauris in lectus est. Aliquam nec quam dolor. Quisque a lectus interdum, pharetra purus at, lacinia arcu. Duis rhoncus semper rhoncus. Nam in justo sed leo varius vestibulum sed vel lectus. Etiam imperdiet venenatis malesuada. 
	      </div>
	      <div class="tab-pane fade text-justify " id="list-profile" role="tabpanel" aria-labelledby="list-profile-list ">
	      	Curabitur quis lacus eu neque vulputate pretium at placerat nibh. Pellentesque placerat dui ut libero ornare sagittis. Nam eget nisi at velit rhoncus consequat. Vulputate. Praesent mollis, ligula vitae sagittis pretium, ligula neque pellentesque ex, nec congue velit ipsum ut justo.
	      	<br><br>
	      	Proin sed turpis vitae sapien malesuada malesuada. Nulla ante urna, vulputate vel ultricies a, eleifend nec lacus. 
	      </div>
	      <div class="tab-pane fade text-justify " id="list-messages" role="tabpanel" aria-labelledby="list-messages-list ">
	      	Vivamus sollicitudin et odio ut venenatis. Duis tempus tellus sed turpis convallis vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vestibulum vestibulum sapien, ac maximus enim efficitur eget. In fermentum odio eu nibh fermentum, tristique condimentum enim pulvinar. 
	      </div>
	      <div class="tab-pane fade text-justify " id="list-settings" role="tabpanel" aria-labelledby="list-settings-list ">
	      	 Nulla eget tincidunt magna, quis pharetra sapien. Integer posuere ut lorem vel maximus. Fusce sed viverra sapien, at vulputate nibh. Phasellus laoreet in quam nec rutrum. Mauris placerat efficitur viverra. Nam quis posuere ligula, bibendum porta nisl. Morbi dolor diam, vulputate nec lobortis non, dapibus a augue.
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row mt-5">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="list-group mt-3" *ngFor="let notice of saveNoticesList | reverse">
		  <a [href]="notice.url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="row">
					<div class="col-lg-3  col-md-4 ">

						<div *ngIf="notice.urlToImage == null;else other_content">
					    <img class="card-img-top text-center" src="http://www.losprincipios.org/images/default.jpg" alt="">
						</div>

					<ng-template #other_content>
						<img class="img-fluid" [src]="notice.urlToImage" alt="imagen">
					</ng-template>


					</div>
					<div class="col-lg-9  col-md-8">
				    <div class="d-flex w-150 justify-content-between">
				      <h5 class="mb-1 font-weight-bold">{{notice.title}} </h5>
				      <small> {{ notice.publishedAt | date}}</small>
				    </div>
					</div>
				</div>
				<div class="contentent">
			    <p class="mb-1 text-justify">{{notice.description}} </p>
			    <small> {{notice.author}}</small>
				</div>
		  </a>
			<div class="row justify-content-end">
		  	<button class="btn btn-danger mr-3 " (click)="onDeleteNotice(notice.$key);">Eliminar</button>
		  </div>
		  
		</div>
	</div>

	<div class="col-sm-1" >
	</div>
		
	</div>
</div>

