		<div class="progress" *ngIf="!loanding">
	  	<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		  </div>
		</div>

<div class="container">

	<div class="row my-3 justify-content-center bg-dark">
	  
		<div class="col-xm-8">
			<form>
			  <div class="form-group">
					<h4 class="text-white text-center">Fuente</h4>
			    <select class="form-control" id="exampleFormControlSelect1">
			      <option>Google News (Argentina)</option>
			      <option (click)="onAlert(2)" >Hacker News (en)</option>
			      <option>CNN (español)</option>
			      <option>4</option>
			      <option>5</option>
			    </select>
			  </div>
			</form>
		</div>
		<div class="col-sm-12 my-auto ">
			<button class="btn btn-info ">
				Consultar
			</button>
		</div>
	</div>

	<div class="row justify-content-around">
		<div class="card-continer mt-3 " *ngFor="let n of apiNoticeList" style="width: 19rem;" >
				<div class="card  ml-2"  >
					<div class="card-header bg-dark">
						<h5 class="card-title text-center text-white"> {{n.title}}</h5>
					</div>
					<div *ngIf="n.urlToImage == null;else other_content">
					    <img class="card-img-top text-center" src="http://www.losprincipios.org/images/default.jpg" alt="">
					</div>

					<ng-template #other_content>
						<img class="card-img-top text-center" [src]="n.urlToImage" alt="Sin Imagen">
					</ng-template>

					<blockquote class="blockquote mb-0">
					  <footer class="blockquote-footer"> {{n.publishedAt | date}} autor: {{n.author}} </footer>
					</blockquote>
					<div class="card-body">
				    <p class="card-text">{{n.description}}</p>
				  </div>
				  <div class="botones pb-4 ">
					  <a [href]="n.url" target="_blank" class="btn btn-info btn-accion ">Mas...</a>				  	
					  <a  class="btn btn-secondary btn-accion text-white"
					  (click)="onSave(n)">Guardar</a>
				  </div>			
			</div>
	</div>
</div>
