<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png" alt="" class="minilogo"> 
  <a class="navbar-brand" routerLink="/notices">JeffNews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link active" routerLink="/notices" routerLinkActive="active" 
         >Noticias <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guardadas" routerLinkActive="active">Guardadas</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="">Action</a>
          <a class="dropdown-item" href="">Another action</a>
          <a class="dropdown-item" href="">Something else here</a>
        </div>
      </li>
    </ul>
  </div>


    <div class="row" *ngIf="!isLogin ; else logout">
      <div class="col-12">
        <div class="row ml-1">
          <a class="btn btn-primary my-sm-0 login  text-white"  routerLink="/login">Login</a>
          <a class="btn btn-secondary  my-sm-0 "  routerLink="/registration">Resgistrarse</a>
        </div>
      </div>
      <div class="col-12"></div>  
    </div>

    <ng-template #logout>
      <div class="row">
        <div class="col-1 "></div>
          <div class="col-12  mt-2">
            <div class="row ml-1">
              <a class="btn btn-danger btn-block text-white mr-4 " (click)="onLogOut()"  >Salir</a>
            </div>
        </div>
      </div>
    </ng-template>
    
</nav>