<div class="container">
  <form class="form-signin card">
    <h2 class="form-signin-heading">Iniciar sesion</h2>
    <input type="text" class="form-control" placeholder="Email" required autofocus>
    <input type="password" class="form-control mt-3" placeholder="Contraseña" required>
<button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>
    <div class="row">
    	<div class="col-12 mt-4 ">
				<button class="btn btn btn-info btn-facebook mr-2 pl-sm-2"><i class="fa fa-facebook">	Facebook </i></button>
				<button class="btn btn btn-danger btn-google mt-2 mt-md-0"><i class="fa fa-google">	Google </i></button>
			</div>
    </div>
  </form>

</div> <!-- /container -->