/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
button:hover,a.btn:hover{
    cursor: pointer;
   }
body {
	margin-bottom: 60px;
	background-color: #f0f0f0;
}
body { margin: 0; }

.spinner{
	margin:auto;
}
.spinner-container{
	margin-top: 25%;
}

.alert.flash-message{
	margin-top: 10px;

}